# Replace all %KEY% with actual values.

use Mix.Config

config :sentry,
  dsn: "%SENTRY_DSN%",
  environment_name: Mix.env(),
  included_environments: [:prod],
  enable_source_code_context: true,
  root_source_code_path: File.cwd!(),
  tags: %{ env: Mix.env() }

config :sires_task_api, SiresTaskApi.Mailer,
  adapter: Bamboo.SMTPAdapter,
  server: "mail.nic.ru",
  port: 465,
  username: "%SMTP_USERNAME%",
  password: "%SMTP_PASSWORD%",
  ssl: true,
  no_mx_lookups: true
