# Replace all %KEY% with actual values.

use Mix.Config

config :sentry,
  dsn: "%SENTRY_DSN%",
  environment_name: Mix.env(),
  included_environments: [:prod],
  enable_source_code_context: true,
  root_source_code_path: File.cwd!(),
  tags: %{ env: Mix.env() }

config :sires_task_api, SiresTaskApi.Mailer,
  adapter: Bamboo.SMTPAdapter,
  server: "%SMTP_SERVER%",
  port: 587,
  username: "%SMTP_USERNAME%",
  password: "%SMTP_PASSWORD%",
  tls: :if_available,
  allowed_tls_versions: [:tlsv1, :"tlsv1.1", :"tlsv1.2"],
  ssl: false,
  retries: 1
